{
  "env": {
    "client": {
      "presets": ["react", ["env", { "modules": false, "useBuiltIns": true }]],
      "plugins": ["transform-object-rest-spread", "transform-class-properties"]
    },
    "development": {
      "presets": ["react", ["env", { "useBuiltIns": true }]],
      "plugins": ["transform-object-rest-spread", "transform-class-properties"]
    }
  }
}
