{
  "env": {
    "development": {
      "plugins": ["transform-object-rest-spread"],
      "presets": ["react", ["env", { "useBuiltIns": true }]]
    },
    "client": {
      "plugins": ["transform-object-rest-spread"],
      "presets": ["react", ["env", { "modules": false, "useBuiltIns": true }]]
    }
  }
}
